.DownloadButton{
	text-decoration: none;
	font-family: Arial;
	font-size: 18px;
	border-radius: 9px;
	padding: 5px 19px;
	background: #8BC34A;
	color: #ffffff;
	transition: 0.7s;
}
.DownloadButton:hover{
	text-decoration: none;
	background: #4CAF50;
	color: #ffffff;
	transform: scale(0.8);
}
.white {
	color: white;
}
.image01 {
	padding: 0;
	margin: 0;
	max-width: 400px;
	max-height: 100px;
	width: 100%;
	height: 25%;
}
body {
	background-image:url("./Background.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}
.center {
	display: flex;
	justify-content: center;
	align-content: center;
}
.content{
	background-color: #1c2023;
	width: 30%;
	padding: 40px;
	margin: 150px;
	font-family: Calibri;
	border-radius: 18px;
	font-size: 12px;
	color: white;
}
.DownText {
	margin: 0;
	padding: 0;
}
.Enterbutton{
	text-decoration: none;
	font-family: Arial;
	font-size: 18px;
	border-radius: 9px;
	padding: 5px 19px;
	background: #8BC34A;
	color: #ffffff;
	transition: 0.7s;
}
.Enterbutton:hover{
	text-decoration: none;
	background: #4CAF50;
	color: #ffffff;
	transform: scale(0.8);
}
@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}
@ms-viewport {
	width: extend-to-zoom;
	zoom: 1.0;
}
.division {
	background-color: white;
	width: 30%;
	padding: 40px;
	margin: 150px;
	font-family: Calibri;
	border-radius: 26px;
	font-size: 15px;
	color: black;
}
.return {
	text-decoration: none;
	font-family: Arial;
	font-size: 18px;
	border-radius: 9px;
	padding: 5px 19px;
	background: #7CE3F5;
	color: #ffffff;
	transition: 0.7s;
}
.return:hover{
	text-decoration: none;
	background: #03a9f4;
	color: #ffffff;
	transform: scale(0.8);
}
